@using System.Threading;

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<profile name="Profiling Step via a <profile> Tag">
    @{ Thread.Sleep(150); }
    <p>Use this area to provide additional information.</p>
</profile>